<div class="wide-container">
  <%= link_to "Back to #{@story.universe.name}", @story.universe, class: "btn btn-success" %>
  <div>
    <%= @page.content %>
  </div>

  <% if @prev_page %>
    <%= link_to "< Previous page", story_path(@story, { page: @prev_page.position })%>
  <% end %>

  <% if @next_page %>
    <%= link_to "Next page >", story_path(@story, { page: @next_page.position }) %>
  <% else %>
    <%= link_to '', new_story_solution_path(@story), class:'fa fa-camera' %>
  <% end %>
</div>
