<div class="wide-container-page-<%= @universe.name.downcase %>">
  <div class="story-div">
    <div class="story-image">
      <%= cl_image_tag @page.photo.path, width: 512, crop: :fill %>
    </div>
    <div class="story-text text-center scroll">
      <%= @page.content %>

    </div>
  </div>
  <div class="pagination">
    <% if @next_page && @prev_page %>
      <%= link_to "", story_path(@story, { page: @prev_page.position }),class: "btn-switch arrow-left"%>
      <div class="pongo-animation">
        <%= cl_image_tag "http://res.cloudinary.com/dipongo/image/upload/c_scale,w_776/v1507200272/Composants/Pongo2-assis.png", width: 100, data: { toggle: "modal", target: "#tip-Modal" } %>
      </div>
      <%= link_to "", story_path(@story, { page: @next_page.position }), class: "btn-switch arrow-right" %>

    <% elsif @next_page %>
      <p class="space-p"></p>
      <p class="space-p"></p>
      <%= link_to "", story_path(@story, { page: @next_page.position }), class: "btn-switch arrow-right" %>

    <% else # last page %>
      <%= link_to "", story_path(@story, { page: @prev_page.position }),class: "btn-switch arrow-left"%>

      <%= simple_form_for [@story, Solution.new] do |s| %>
      <div class="appareil-photo"></div>
        <%= s.input :photo, as: :attachinary, input_html: {capture: true, accept: "image/*" } %>


        <div class="modal" id="solution-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <h4 class="modal-title text-center" id="myModalLabel">Merci pour ta jolie solution !</h4>
                <div id="solution-preview" class="text-center"></div>
                <div class="content-user-form">
                  <%= s.simple_fields_for :users, current_user do |user| %>
                    <div class="user-form text-left">
                      <%= user.input :name, placeholder: 'Emma' %>
                    </div>
                    <div class="user-form text-left">
                      <%= user.input :age, as: :integer, placeholder: '5' %>
                    </div>
                  <% end %>
                </div>
                <div class="solution-modal-btn text-center">
                  <%= s.button :submit,'Decouvre d\'autres solutions', class: "btn btn-success text-center" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <p class="space-p"> </p>
    <% end %>
  </div>

<!-- modal -->

  <div class="modal" id="tip-Modal" tabindex="-1" role="dialog" aria-labelledby="tipsModal" data-="false">
    <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span></button>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="modal-title" id="tipsModal">Les Conseils de Pongo</h4>
          <div class="modal-text-tips">
            <p ><%= @tip.content %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
