<div class="wide-container">
  <div class="story-div">
    <div class="text-center">
      <%= cl_image_tag @page.photo.path, width: 300, height: 300, crop: :fill %>
    </div>
    <div class="text-center">
      <%= @page.content %>
    </div>
  </div>
  <div class="pagination">
    <% if @prev_page %>
      <%= link_to "", story_path(@story, { page: @prev_page.position }),class: "btn-switch arrow-left"%>
    <% else %>
      <p class="space-p"> </p>
    <% end %>

    <% if @next_page %>
    <p class="space-p"></p>
    <% else %>
    <%= link_to "", new_story_solution_path(@story), class: "camera btn-camera" %>
    <% end %>

    <% if @next_page %>
      <%= link_to "", story_path(@story, { page: @next_page.position }), class: "btn-switch arrow-right" %>
    <% else %>
      <p class="space-p"> </p>
    <% end %>
  </div>
</div>
