
<div class="wide-container-universes">
  <div class="title-univers-index">
    <h1>Où allons-nous ?</h1>
  </div>
  <section class="awSlider">
    <div  class="carousel slide">
      <!-- Indicators -->


      <!-- Wrapper for slides -->

      <div class="carousel-inner" role="listbox">
        <% @universes.each_with_index do |universe, i| %>
          <div class="item <%= 'active' if i == 0 %> ">
            <%= link_to universe_path(universe) do %>
              <%= cl_image_tag universe.photo.path %>
              <div class="univers-carousel-name">
                <p><%= universe.name %></p>
              </div>
              <div class="medaille">
                <% if current_user.completed?(universe) %>
                  <%= cl_image_tag("Composants/medaille.png",
                     :width=>200, :crop=>"scale") %>
                <% else %>
                  <%= cl_image_tag("Composants/medaille.png",
                     :width=>200, :crop=>"scale", :effect=>"grayscale") %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- Controls -->
      <!-- <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a> -->
      <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size: 60px"></span>
      </a>
      <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size: 60px"></span>
      </a>
    </div>
  </section>
  <div class="dropdown">
      <%= cl_image_tag("Universes/jungle/etoile-orange.png", :width=>50, :crop=>"scale", :effect=>"grayscale", class:"avatar dropdown-toggle", data: {toggle: "dropdown"})%>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
</div>
