<div class="wide-container">
  <div class="title-univers-index">
    <h1>Liste des Univers</h1>
  </div>
<section class="awSlider">
  <div  class="carousel slide">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @universes.each_with_index do |universe, i| %>
      <div class="item <%= 'active' if i == 0 %> ">
        <%= link_to universe_path(universe) do %>
          <%= cl_image_tag universe.photo.path %>
          <div class="univers-carousel-name"><p> <%= universe.name %> </p></div>
        <% end %>
      </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Geri</span>
    </a>
    <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">İleri</span>
    </a>
  </div>
</section>
<div class="renard-avatar">
    <%= image_tag("renard.png") %>
  </div>
</div>
