<div class="wide-container-story-<%= @universe.name.downcase %>">
  <% @stories.each_with_index do |story, i| %>
    <div class="story<%= i + 1 %>">
      <% if current_user.solutions.exists?(story_id: story) %>
        <div class="star-valid">
          <%= cl_image_tag("Universes/jungle/etoile-orange.png", :width=>120, :crop=>"scale") %>
        </div>
        <div class="picture-valid">
          <%= cl_image_tag("Universes/#{@universe.name.downcase}/histoire#{i + 1}-valid.png", :width=>300, :crop=>"scale") %>
        </div>
      <% else %>
        <%= link_to story_path(story) do %>
          <%= cl_image_tag("Universes/#{@universe.name.downcase}/histoire#{i + 1}.png", :width=>300, :crop=>"scale") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="btn-back">
    <%= link_to 'Retour aux univers', universes_path, class: "btn btn-universe" %>
  </div>
</div>
